In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 
import scipy.stats
import pylab as py 
%matplotlib inline

# Downloading and Cleaning the Data

In [4]:
YoY = pd.read_csv("YoY_AirDNA.csv") # Dataset made public by AirDNA

YoY = YoY.reset_index().iloc[1:len(YoY)].rename(columns={
    "Top Cities by 2020 Reservations (YoY Comparison )":"City", 
    "Unnamed: 1":"State", 
    "Unnamed: 2":"2019", 
    "Unnamed: 3":"2020", 
    "Unnamed: 5":"YoY % Change"}).drop(["index", "Unnamed: 4"], axis=1)

YoY["YoY % Change"] = YoY["YoY % Change"].astype(float)

YoY = YoY.dropna() # Clean out NaN values (1 row)

YoY["YoY Raw Growth Volume"] = YoY["2020"] - YoY["2019"]
YoY = YoY[["City", "State", "2019", "2020", "YoY Raw Growth Volume", "YoY % Change"]]

YoY.head()

,City,State,2019,2020,YoY Raw Growth Volume,YoY % Change
1,Shaver Lake,California,564,1000.0,436.0,0.773050
2,Holly Ridge,North Carolina,521,1003.0,482.0,0.925144
3,Pasadena,California,1292,1003.0,-289.0,-0.223684
4,Fairbanks,Alaska,1014,1010.0,-4.0,-0.003945
5,Grand Rapids,Michigan,1269,1011.0,-258.0,-0.203310